* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ebebeb;
    color: #2B2B2B;
    font-weight: 400;
}

h1 {
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
}

button {
    padding: 5px;
    border-radius: 5px;
}